body{
    line-height: 1.5;
    transition: all 0.3s ease;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: url(/contact/images/header.jpg);
    background-size: cover;
    padding: 10vh 5vw;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    justify-content: flex-end;
}
header h1{
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 3px #000;
    font-weight: 500;
    text-align: left;
}
header p{
    font-size: 2em;
    color: rgb(199, 199, 199);
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}
hr{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    height: 3px;
    border: none;
    border-radius: 50%;
    width:70vw;
}
section{
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    height: fit-content;
}
section .section-head{
    height: 18vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
section .section-head h1{
    font-size: 3em;
}
section .section-content{
    display: flex;
    font-size: 16pt;
    flex-direction: column;
    height: fit-content;
    padding: 5vh 0vw;
    justify-content: center;
    align-items: center;
}
section .section-content p{
    background-color: rgba(124, 130, 163, 0.7);
    padding: 20px;
    border-radius: 12px;
    width: 50vw;
    height: fit-content;
    z-index: 1;
}
section .section-content img{
    height: 70vh;
    border-radius: 12px;
}
.form form{
    color: #01032C;
    width: 30vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: rgba(124, 130, 163, 0.2);
    padding: 1.5em;
    border-radius: 12px;
    margin-bottom: 50px;
}
.form form input, .form form textarea, .form form button{
    border: 0;
    font-size: 1.2em;
    padding: 2vh 1vw;
    border-radius: 3px;
    margin-bottom: 20px;
    resize: vertical;
}
.form form button{
    background-color: #01032C;
    color: #ffffff;
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.7s ease;
    background-color: rgba(255, 255, 255, 0.0);
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


@media screen and (max-width: 805px){
    .form form{
        width: 70vw;
    }
}
@media screen and (max-width: 500px){
    header{
        padding-bottom: 6vh;
    }
    header h1{
        font-size: 26pt;
    }
    header p{
        font-size: 20pt;
    }
    .form form{
        width: 80vw;
    }
}
@media screen and (max-width: 400px){
    .form form{
        width: 90vw;
    }
}