body{
    line-height: 1.5;
    transition: all 0.3s ease;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background: url(/about/images/header.jpg);
    background-size: cover;
    padding: 10vh 5vw;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    justify-content: flex-end;
}
header h1{
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 3px #000;
    font-weight: 500;
    text-align: left;
}
header p{
    font-size: 2em;
    color: rgb(199, 199, 199);
    text-shadow: 1px 1px 1px #000;
    font-weight: 400;
    font-style: italic;
    text-align: left;
}
.hr{
    display: flex;
    justify-content: center;
}
hr{
    background-color: rgba(0, 0, 0, 0.7);
    height: 3px;
    border: none;
    border-radius: 50%;
    width:70vw;
}
section{
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    align-items: center;
    height: fit-content;
}
section .section-head{
    height: 18vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
section .section-head h1{
    font-size: 3em;
}
section .section-content{
    display: flex;
    font-size: 16pt;
    flex-direction: column;
    height: fit-content;
    padding: 5vh 0vw;
    justify-content: center;
    align-items: center;
}
section .section-content p{
    background-color: rgba(124, 130, 163, 0.7);
    padding: 20px;
    border-radius: 12px;
    width: 50vw;
    height: fit-content;
    z-index: 1;
}
section .section-content img{
    height: 70vh;
    border-radius: 12px;
}
section .section-content ul{
    display: flex;
    width: 50vw;
    justify-content: space-between;
}
section .section-content ul img{
    height: 18vh;
    margin: 2vh 0vw;
}
section .sectionbody{
    flex-direction: row;
}
section .right img{
    transform: translateX(-75px);
}
section .right p{
    transform: translateX(75px);
}
section .left img{
    transform: translateX(75px);
}
section .left p{
    transform: translateX(-75px);
}
#vision img {
    width: 30vw;
    height: auto;
}
#admission{
    padding: 0vh 15vw;
}
#admission p{
    font-size: 16pt;
    margin-bottom: 5vh;
}
.admission-reqs{
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 5vh 0vw;
    justify-content: space-between;
    width: 100%;
}
.admission-reqs .card{
    background-color: rgba(124, 130, 163, 0.7);
    border-radius: 12px;
    width: 20vw;
    height: fit-content;
    padding: 4vh 2vw;
}
.admission-reqs .card li{
    font-size: 16pt;
}
.admission-reqs .card li:before{
    content: '-';
    position: absolute;
    margin-left: -20px;
}
#activities img {
    width: auto;
    height: 70vh;
}
#labs img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translateX(75px);
    width: 30vw;
    height: auto;
}
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.7s ease;
    background-color: rgba(255, 255, 255, 0.0);
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 790px){
    section .sectionbody{
        flex-direction: column;
    }
    section .sectionbody.right{
        flex-direction: column-reverse;
    }
    section .sectionbody p, section .section-content p{
        width: 70vw;
    }
    section .right img{
        transform: translateX(0px);
    }
    section .right p{
        transform: translateX(0px) translateY(-100px);
    }
    section .left img{
        transform: translateX(0px);
    }
    section .left p{
        transform: translateX(0px) translateY(-100px);
    }
    
    section .section-content ul img{
        height: 16vw;
    }
    
    #vision img {
        width: 50vw;
        height: auto;
    }
    #labs img{
        -webkit-transform: none;
        transform: none;
        width: 50vw;
        height: auto;
    }
}
@media screen and (max-width: 805px){
    .admission-reqs{
        flex-direction: column;
        align-items: center;
    }
    .admission-reqs .card{
        width: 53vw;
        margin-bottom: 5vh;
    }
}
@media screen and (max-width: 500px){
    header{
        padding-bottom: 6vh;
    }
    header h1{
        font-size: 26pt;
    }
    header p{
        font-size: 20pt;
    }
    section .section-content{
        width: 90vw;
    }
    section .sectionbody p, section .section-content p{
        width: 90vw;
        font-size: 14pt;
    }
    section .section-head{
        font-size: 8pt;
        height: 6vh;
    }
    section .right img{
        transform: translateX(0px);
    }
    section .right p{
        transform: translateX(0px) translateY(-50px);
    }
    section .left img{
        transform: translateX(0px);
    }
    section .left p{
        transform: translateX(0px) translateY(-50px);
    }
    
    section .section-content ul{
        width: 80vw;
    }
    section .section-content ul img{
        height: 20vw;
    }
    
    #vision img {
        width: 70vw;
        height: auto;
    }
    #labs img{
        -webkit-transform: none;
        transform: none;
        width: 70vw;
        height: auto;
    }
}
@media screen and (max-width: 400px){
    section:nth-child(7) .section-head{
        font-size: 7pt;
    }
    #boarding img{
       width: 80vw;
       height: auto; 
    }
    section .section-head h1{
        font-size: 2.5em;
    }
}